.about-cartContainer {
  width: 100%;
  background-color: #F3F5F7;
}

.aboutUs {
  border-bottom: 1px solid #ddd;
  margin-bottom: 20px;
  margin-top: 50px;
  background-color: white;
}

.aboutUsDescribe {
  margin-top: 50px;
  background-color: white;
}
.aboutUsDescribe > p {
  width: 1140px;
  font-size: 18px;
  line-height: 30px;
  font-family: "PingFang SC";
  padding: 29px 50px 48px 50px;
}
.aboutUsDescribe h2 {
  margin-left: 50px;
  font-size: 26px;
  color: #20ce9c;
}

.companyProfile {
  margin-top: 30px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around;
}
.companyProfile img {
  width: 60px;
  height: 60px;
  margin-bottom: 20px;
}
.companyProfile .companyADR, .companyProfile .companyNUM, .companyProfile .companyEmail {
  width: 400px;
  height: 372px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: white;
}
.companyProfile .companyADR > p:nth-of-type(1), .companyProfile .companyNUM > p:nth-of-type(1), .companyProfile .companyEmail > p:nth-of-type(1) {
  margin-top: 20px;
  font-size: 18px;
  font-weight: bold;
}
.companyProfile .companyADR > p:nth-of-type(2), .companyProfile .companyNUM > p:nth-of-type(2), .companyProfile .companyEmail > p:nth-of-type(2) {
  font-size: 16px;
  margin: 20px 0px;
  line-height: 30px;
}
.companyProfile .companyADR, .companyProfile .companyNUM {
  margin-right: 20px;
}
.companyProfile .companyADR img {
  width: 84px;
  height: 104px;
}
.companyProfile .companyNUM img {
  width: 76px;
  height: 100px;
}
.companyProfile .companyEmail img {
  width: 105px;
  height: 75px;
}
