footer {
  width: 100%;
  margin-top: 140px;
  height: 260px;
  background: #333333;
  opacity: 0.6;
}

.footLayout {
  color: white;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-top: 50px;
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around;
}
.footLayout > div {
  width: 33.333%;
}
.footLayout .footLogoLeft div img {
  display: block;
  width: 170px;
  height: 83px;
}
.footLayout .footLogoLeft div p {
  padding-top: 31px;
  font-size: 18px;
  width: 240px;
  color: white;
}
.footLayout .footLogoCenter {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around;
}
.footLayout .footLogoCenter span {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}
.footLayout .footLogoCenter span img {
  width: 120px;
  height: 120px;
}
.footLayout .footLogoCenter span span {
  padding-top: 19px;
  font-size: 22px;
  font-family: "PongFang SC";
}
.footLayout .footLogoRight {
  text-align: right;
}
.footLayout .footLogoRight h2 {
  font-size: 42px;
  margin: 0;
}
.footLayout .footLogoRight > p {
  padding-top: 20px;
  margin: 0;
}
.footLayout .footLogoRight .companyLocation {
  padding-top: 43px;
}
.footLayout .footLogoRight .companyLocation p {
  font-family: "PongFang SC";
  font-size: 18px;
  text-align: right;
  color: white;
  margin: 0;
  padding-bottom: 10px;
}
