.left {
  float: left;
}

.right {
  float: right;
}

.activeBg {
  color: #fff;
  background: #22ac38;
  text-decoration: none;
}

.activeColor {
  color: #22ac38;
  text-decoration: none;
}

.cartContainer {
  width: 100%;
  background-color: white;
  font-family: "PingFang SC";
}

.topLogo {
  display: inline-block;
  width: 120px;
  height: 60px;
  text-indent: -9999px;
  margin: 0;
  padding: 0;
  background: url("../images/ytc_logo.jpg") no-repeat;
}

.top {
  position: relative;
  height: 60px;
  top: 0;
  line-height: 60px;
  background-color: white;
}

.top ul.topNav {
  height: 50px;
  margin: 0 auto;
}

.top ul.topNav li {
  float: left;
  margin-left: 64px;
  height: 50px;
  font-size: 16px;
}
.top ul.topNav li a {
  color: #666666;
  font-family: "PingFang SC";
}

.top ul.topNav li a:hover {
  text-decoration: none;
  color: green;
}

.top ul.topNav li.activeBottom {
  border-bottom: 4px solid green;
}
.top ul.topNav li.activeBottom a {
  color: green;
}

footer {
  width: 100%;
  margin-top: 140px;
  height: 260px;
  background: #333333;
  opacity: 0.6;
}

.footLayout {
  color: white;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-top: 50px;
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around;
}
.footLayout > div {
  width: 33.333%;
}
.footLayout .footLogoLeft div img {
  display: block;
  width: 170px;
  height: 83px;
}
.footLayout .footLogoLeft div p {
  padding-top: 31px;
  font-size: 18px;
  width: 240px;
  color: white;
}
.footLayout .footLogoCenter {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around;
}
.footLayout .footLogoCenter span {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}
.footLayout .footLogoCenter span img {
  width: 120px;
  height: 120px;
}
.footLayout .footLogoCenter span span {
  padding-top: 19px;
  font-size: 22px;
  font-family: "PongFang SC";
}
.footLayout .footLogoRight {
  text-align: right;
}
.footLayout .footLogoRight h2 {
  font-size: 42px;
  margin: 0;
}
.footLayout .footLogoRight > p {
  padding-top: 20px;
  margin: 0;
}
.footLayout .footLogoRight .companyLocation {
  padding-top: 43px;
}
.footLayout .footLogoRight .companyLocation p {
  font-family: "PongFang SC";
  font-size: 18px;
  text-align: right;
  color: white;
  margin: 0;
  padding-bottom: 10px;
}

.buy-cartContainer {
  background-color: #F3F5F7;
  position: relative;
}

.areaSelect {
  position: absolute;
  display: inline-block;
  margin-left: 10px;
}
.areaSelect button {
  border: none;
}
.areaSelect .areaCity {
  position: relative;
}
.areaSelect .areaCityList {
  position: absolute;
  width: auto;
  max-width: 500px;
  height: auto;
}
.areaSelect .areaCityList li {
  float: left;
  padding-left: 10px;
  height: 50px;
  font-size: 16px;
  margin: 0;
}

.crumbs {
  height: 40px;
  line-height: 40px;
  background-color: wheat;
  margin-top: 44px;
}
.crumbs a {
  margin-left: 20px;
}
.crumbs a:hover {
  color: #fff;
  background: #22ac38;
  text-decoration: none;
}
.crumbs span {
  width: 50px;
  height: 100%;
  box-sizing: border-box;
  display: none;
}
.crumbs button {
  width: 50px;
  height: 100%;
}
.crumbs button:hover {
  cursor: pointer;
}
.crumbs input {
  width: 300px;
  height: 40px;
  font-size: 18px;
  padding-left: 10px;
  border: 1px solid #ddd;
}

.screen {
  border: 1px solid #e6e6e6;
}
.screen dl {
  display: block;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
  border-bottom: 1px solid #e6e6e6;
  margin-bottom: 0px;
  min-height: 50px;
  position: relative;
}
.screen dt {
  float: left;
  width: 70px;
  height: 100%;
  position: absolute;
  line-height: 50px;
  font-size: 14px;
  color: #7a838d;
  text-align: center;
  background: #fafafa;
}
.screen dd {
  float: right;
  width: 1128px;
}
.screen dd .dd-top {
  height: 20px;
  padding: 15px 0 15px 6px;
}
.screen dd .dd-top .a-box {
  float: left;
  width: 940px;
  height: 20px;
  overflow: hidden;
}
.screen dd .dd-top .a-box span {
  border: 1px solid #bbb;
  margin-left: 4px;
  padding: 1px;
}
.screen dd .dd-top .a-box span i {
  font-size: 12px;
  color: gray;
  padding-left: 4px;
  cursor: pointer;
}
.screen dd .dd-top a.active {
  color: #fff;
  background: #22ac38;
  text-decoration: none;
}
.screen dd .dd-top a {
  float: left;
  height: 20px;
  font-size: 14px;
  line-height: 20px;
  padding: 0 6px;
  color: #495056;
  margin: 0 8px;
}
.screen dd .dd-btn {
  float: right;
  height: 20px;
  line-height: 20px;
  font-size: 14px;
  padding: 0 7px;
  color: #495056;
  cursor: pointer;
}
.screen dd .dd-btn i {
  display: inline-block;
  width: 11px;
  height: 6px;
  margin-left: 2px;
  color: #2e2828;
}
.screen dd .dd-btn:hover {
  color: #22ac38;
}
.screen dd .dd-btn:hover i {
  color: #22ac38;
}
.screen .dd-all {
  width: 1128px;
  border-top: 1px solid #e6e6e6;
  margin-top: 20px;
}
.screen .dd-all ul {
  width: 350px;
  padding: 0px 0 0 50px;
  float: left;
}
.screen .dd-all li {
  overflow: hidden;
  padding-bottom: 20px;
}
.screen .dd-all label {
  float: left;
  width: 20px;
  height: 24px;
  line-height: 24px;
  color: #22ac38;
  font-size: 14px;
  font-weight: 700;
}
.screen .dd-all p {
  float: left;
  width: 330px;
}
.screen .dd-all a {
  float: left;
  height: 24px;
  line-height: 24px;
  margin-right: 15px;
  font-size: 14px;
  color: #495056;
}

.list-filter {
  height: 57px;
  line-height: 57px;
  padding-top: 5px;
  margin-bottom: 10px;
  border-bottom: 1px solid #e6e6e6;
  box-sizing: border-box;
}
.list-filter .list-sort {
  height: 28px;
  margin-top: 12px;
}

.list-filter a {
  margin-left: 20px;
}

.list-filter a:hover {
  color: #22ac38;
  text-decoration: none;
}

ul.carlist {
  margin-left: 8px;
  margin-bottom: 20px;
}

.carlist li {
  float: left;
  margin-bottom: 10px;
  padding: 9px 8px;
}
.carlist li .infoDescribe {
  width: 287px;
  box-sizing: border-box;
}

.carlist li a {
  display: block;
  width: 280px;
  border: 1px solid transparent;
  position: relative;
}

.carlist img {
  width: 280px;
  height: 190px;
  border: 1px solid #e9e9e9;
}

.carlist li a.car-a .t {
  font-size: 17px;
  color: #495056;
  font-weight: 400;
  padding: 1px 0 6px 4px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.pageNav {
  text-align: center;
}

.about-cartContainer {
  width: 100%;
  background-color: #F3F5F7;
}

.aboutUs {
  border-bottom: 1px solid #ddd;
  margin-bottom: 20px;
  margin-top: 50px;
  background-color: white;
}

.aboutUsDescribe {
  margin-top: 50px;
  background-color: white;
}
.aboutUsDescribe > p {
  width: 1140px;
  font-size: 18px;
  line-height: 30px;
  font-family: "PingFang SC";
  padding: 29px 50px 48px 50px;
}
.aboutUsDescribe h2 {
  margin-left: 50px;
  font-size: 26px;
  color: #20ce9c;
}

.companyProfile {
  margin-top: 30px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around;
}
.companyProfile img {
  width: 60px;
  height: 60px;
  margin-bottom: 20px;
}
.companyProfile .companyADR, .companyProfile .companyNUM, .companyProfile .companyEmail {
  width: 400px;
  height: 372px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: white;
}
.companyProfile .companyADR > p:nth-of-type(1), .companyProfile .companyNUM > p:nth-of-type(1), .companyProfile .companyEmail > p:nth-of-type(1) {
  margin-top: 20px;
  font-size: 18px;
  font-weight: bold;
}
.companyProfile .companyADR > p:nth-of-type(2), .companyProfile .companyNUM > p:nth-of-type(2), .companyProfile .companyEmail > p:nth-of-type(2) {
  font-size: 16px;
  margin: 20px 0px;
  line-height: 30px;
}
.companyProfile .companyADR, .companyProfile .companyNUM {
  margin-right: 20px;
}
.companyProfile .companyADR img {
  width: 84px;
  height: 104px;
}
.companyProfile .companyNUM img {
  width: 76px;
  height: 100px;
}
.companyProfile .companyEmail img {
  width: 105px;
  height: 75px;
}

.cartDetails {
  font-family: "PingFang SC";
}
.cartDetails .cartDetails-cartInfo {
  width: 100%;
  border: 1px solid #000;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around;
}
.cartDetails .cartDetails-cartInfo .cartDetails-banner {
  width: 50%;
  height: 100%;
}
.cartDetails .cartDetails-cartInfo .cartDetails-banner .image-banner {
  width: 90%;
  margin: 15px auto;
  height: 100%;
  overflow: hidden;
}
.cartDetails .cartDetails-cartInfo .cartDetails-banner .image-banner .cartDetails-swiper-container img {
  width: 100%;
  height: 100%;
  height: 370px;
}
.cartDetails .cartDetails-cartInfo .cartDetails-parameterInfo {
  width: 50%;
}
.cartDetails .aboutBuyCart {
  margin-top: 40px;
}

.detais-buyFlow {
  font-family: "PingFang SC";
  position: relative;
}
.detais-buyFlow .flow {
  margin-top: 20px;
}
.detais-buyFlow .flow ul li {
  width: 295px;
  height: 257px;
  margin-right: 20px;
  float: left;
  text-align: center;
  position: relative;
}
.detais-buyFlow .flow ul li img {
  width: 85px;
  height: 81px;
}
.detais-buyFlow .flow ul li p {
  font-size: 18px;
  color: #666666;
}
.detais-buyFlow .flow ul li p:nth-of-type(1) {
  font-size: 22px;
  color: #333333;
  font-weight: bold;
  padding: 20px 0px;
}
.detais-buyFlow .flow ul li:nth-of-type(4) {
  margin-right: 0px;
}
.detais-buyFlow .flow ul li div::after {
  content: "";
  display: block;
  position: absolute;
  width: 200px;
  border: 1px solid green;
  right: -47px;
  top: 17%;
  width: 80px;
}
.detais-buyFlow .flow ul li:nth-of-type(4) div::after {
  content: "";
  position: absolute;
  border: 0px solid green;
}

.attractInvestmentInfo {
  background-color: white;
}

.attractInvestmentInfo > div {
  width: 100%;
  margin: 10px 0px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around;
}
.attractInvestmentInfo > div img {
  width: 50%;
  margin: 10px 20px;
}
.attractInvestmentInfo > div span {
  width: 50%;
  display: inline-block;
  text-align: center;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 10px 20px;
}
.attractInvestmentInfo > div span p:nth-of-type(1) {
  font-size: 22px;
  font-weight: bold;
}
.attractInvestmentInfo > div span p:nth-of-type(2) {
  font-size: 16px;
  padding-bottom: 20px;
}

.joinUs > p, .linkUs > p {
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  padding-bottom: 20px;
  position: relative;
  background-color: white;
  height: 30px;
  line-height: 30px;
}
.joinUs > p::before, .linkUs > p::before {
  content: "";
  width: 400px;
  border: 1px solid #000;
  font-family: 'Arial Normal', 'Arial';
  border-radius: 1px;
  position: absolute;
  left: 110px;
  top: 15px;
}
.joinUs > p::after, .linkUs > p::after {
  content: "";
  width: 400px;
  border: 1px solid #000;
  font-family: 'Arial Normal', 'Arial';
  border-radius: 1px;
  position: absolute;
  right: 110px;
  top: 15px;
}

.joinUs .joinUsInfo {
  margin-top: 20px;
  background-color: white;
}

.joinUsFlow {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around;
}
.joinUsFlow .qualificationExamination {
  position: relative;
}
.joinUsFlow div:nth-of-type(2)::before {
  content: "";
  width: 200px;
  border: 1px dotted #000;
  font-family: 'Arial Normal', 'Arial';
  border-radius: 2px;
  position: absolute;
  left: 132px;
  top: 35px;
}
.joinUsFlow div:nth-of-type(2)::after {
  content: "";
  width: 200px;
  border: 1px dotted #000;
  font-family: 'Arial Normal', 'Arial';
  border-radius: 2px;
  position: absolute;
  right: 200px;
  top: 35px;
}
.joinUsFlow img {
  width: 60px;
  height: 60px;
  margin-bottom: 20px;
}
.joinUsFlow .freeOnApplication, .joinUsFlow .qualificationExamination, .joinUsFlow .modilFamily {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around;
}
.joinUsFlow .freeOnApplication > p:nth-of-type(1), .joinUsFlow .qualificationExamination > p:nth-of-type(1), .joinUsFlow .modilFamily > p:nth-of-type(1) {
  margin-top: 20px;
  font-size: 16px;
  font-weight: bold;
}
.joinUsFlow .freeOnApplication > p:nth-of-type(2), .joinUsFlow .qualificationExamination > p:nth-of-type(2), .joinUsFlow .modilFamily > p:nth-of-type(2) {
  margin: 20px 0px;
  -webkit-box-align: left;
  -webkit-align-items: left;
      -ms-flex-align: left;
          align-items: left;
}

.merchantInfoSubmit {
  width: 600px;
  margin: 20px auto;
  background-color: #F2F2F2;
}
.merchantInfoSubmit .SubmitForm {
  width: 380px;
  margin: 0 auto;
}
.merchantInfoSubmit .formSubmit > div {
  padding-top: 30px;
}
.merchantInfoSubmit .formSubmit > div label {
  width: 80px;
}
.merchantInfoSubmit .formSubmit > div input {
  width: 280px;
  display: inline-block;
}
.merchantInfoSubmit button {
  margin: 0 auto;
  width: 85%;
  height: 40px;
  display: block;
  margin-bottom: 20px;
}

#banner {
  width: 100%;
  height: 300px;
  overflow: hidden;
  position: relative;
}
#banner img {
  width: 100%;
  height: 100%;
}

.swiper-container {
  width: 100%;
  height: 300px;
  position: absolute;
  left: -875px;
  margin-left: 50%;
}

.swiper-pagination {
  bottom: -20px;
  right: 100px;
}

.swiper-pagination-bullet {
  width: 15px;
  height: 15px;
  background: #fff;
  margin: 32px 4px;
}

.swiper-button-prev, .swiper-button-next {
  display: none;
}

#banner:hover .swiper-button-prev, #banner:hover .swiper-button-next {
  display: block;
}

.carousel-control {
  display: none;
}

.bannerAdvertising:hover .carousel-control {
  display: block;
}

#banner {
  width: 100%;
  height: 460px;
}
#banner img {
  height: 460px;
}

.carousel-indicators {
  bottom: 60px !important;
}

.brandCart {
  position: relative;
  z-index: 3;
  margin-top: -80px;
  font-size: 14px;
  height: 316px;
  border-top: 0;
  box-shadow: 0 1px 4px 0 rgba(88, 100, 117, 0.2);
  border-radius: 6px;
  background-color: white;
}
.brandCart .brandListInfo {
  height: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around;
}
.brandCart .brandListInfo .cartList {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around;
  width: 788px;
  height: 100%;
  box-sizing: border-box;
}
.brandCart .brandListInfo .cartList .moreBrand {
  width: 100%;
  height: 100%;
  margin-left: 80px;
  cursor: pointer;
}
.brandCart .brandListInfo .cartList .moreBrand .brand {
  height: 60px;
  line-height: 60px;
  font-size: 18px;
}
.brandCart .brandListInfo .cartList .moreBrand .brand span a {
  color: green;
  text-decoration: none;
}
.brandCart .brandListInfo .cartList .moreBrand .brand i {
  color: green;
  padding-right: 80px;
  line-height: 60px;
}
.brandCart .brandListInfo .cartList .moreBrand .brand span:nth-of-type(2):hover {
  color: green;
}
.brandCart .brandListInfo .cartList .moreBrand .brand span:nth-of-type(2):hover i {
  color: green;
}
.brandCart .brandListInfo .cartList .moreBrand .brand-dd {
  padding: 32px 0px 0 0;
}
.brandCart .brandListInfo .cartList .moreBrand .brand-dd ul li {
  border-radius: 2px;
  float: left;
  text-align: center;
  text-decoration: none;
  margin: 5px;
}
.brandCart .brandListInfo .cartList .moreBrand .brand-dd ul li a {
  text-decoration: none;
}
.brandCart .brandListInfo .cartList .moreBrand .brand-dd ul li a p {
  width: 50px;
  height: 40px;
  font-size: 14px;
  padding: 20px 0 0 0;
  margin: 0;
}
.brandCart .brandListInfo .cartList .moreBrand .brand-dd ul li img {
  width: 50px;
  height: 50px;
}
.brandCart .brandListInfo .cartList .moreBrand .brand-dd ul li:hover {
  box-shadow: 0px 0px 2px green;
}
.brandCart .brandListInfo .cartList .moreBrand .brand-dd ul li:hover a {
  color: green;
}
.brandCart .brandListInfo .cartList .moreBrand .moneyScope {
  padding-top: 37px;
}
.brandCart .brandListInfo .cartList .moreBrand .moneyScope ul li {
  float: left;
  padding-right: 32px;
}
.brandCart .brandListInfo .cartList .moreBrand .moneyScope ul li a {
  font-size: 18px;
  text-decoration: none;
  color: #333333;
}
.brandCart .brandListInfo .cartList .moreBrand .moneyScope ul li a:hover {
  color: green;
}
.brandCart .brandListInfo .zeroBuyCart {
  width: 452px;
  height: 100%;
  background: #f1fffb;
  text-align: center;
}
.brandCart .brandListInfo .zeroBuyCart h4 {
  width: 285px;
  font-size: 26px;
  font-family: "PingFang SC";
  color: #333333;
  text-align: center;
  margin: 62px  auto;
  margin-bottom: 50px;
}
.brandCart .brandListInfo .zeroBuyCart input {
  width: 248px;
  height: 45px;
  padding-left: 10px;
  background: #f1fffb;
  border: 1px solid #ddd;
  border-radius: 4px;
  margin: 0 auto;
}
.brandCart .brandListInfo .zeroBuyCart button {
  width: 160px;
  height: 40px;
  font-size: 18px;
  color: #fefefe;
  margin-top: 30px;
}

.cartActive {
  color: green;
}

.hotActivity {
  width: 100%;
}
.hotActivity .activity {
  height: 740px;
}
.hotActivity .activity .activityList li {
  float: left;
  width: 610px;
  height: 360px;
  line-height: 360px;
  text-align: center;
  font-size: 48px;
  font-family: "PingFang SC";
}
.hotActivity .activity .activityList li a {
  color: white;
  text-decoration: none;
  display: block;
  width: 100%;
  height: 100%;
}
.hotActivity .activity .activityList li:nth-of-type(1) {
  background-color: #20ce9c;
  margin: 0px 20px 20px 0;
}
.hotActivity .activity .activityList li:nth-of-type(2) {
  background-color: #ff6156;
  margin: 0px 0px 20px 0;
}
.hotActivity .activity .activityList li:nth-of-type(3) {
  background-color: #ffa56b;
  margin: 0px 20px 0px 0;
}
.hotActivity .activity .activityList li:nth-of-type(4) {
  background-color: #76c9de;
}

.hotcar h2, .buyersShow > p {
  text-align: center;
}

.hotcar h2, .hotActivity h2, .buyersShow > p, .buyFlow > span, .buyPattern > span, .detais-buyFlow > span {
  margin-bottom: 80px;
  margin-top: 130px;
  text-align: center;
  font-size: 30px;
  display: block;
  font-family: "PingFang SC";
}

.hotcar, .hotActivity, .buyersShow, .buyFlow, .buyPattern {
  position: relative;
}

.hotcar h2::before, .hotActivity h2::before, .buyersShow > p::before, .buyFlow > span::before, .buyPattern > span::before, .detais-buyFlow > span::before {
  content: "";
  display: block;
  position: absolute;
  background-image: url("../images/flower.jpg");
  background-repeat: no-repeat;
  width: 35%;
  height: 20px;
  border-radius: 250px 40px 260px 60px;
}

.hotcar h2::after, .hotActivity h2::after, .buyersShow > p::after, .buyFlow > span::after, .buyPattern > span::after, .detais-buyFlow > span::after {
  content: "";
  display: block;
  position: absolute;
  background-image: url("../images/flower.jpg");
  background-repeat: no-repeat;
  width: 35%;
  height: 20px;
  right: 0px;
  top: 0px;
  border-radius: 250px 40px 260px 60px;
}

.hotCart-list li, .buyersShow-list li {
  float: left;
  width: 295px;
  height: 370px;
  margin-right: 20px;
  margin-bottom: 20px;
  background-color: #fff;
  border-radius: 4px;
  overflow: hidden;
  box-shadow: 0px 0px 15px gray;
}
.hotCart-list li img, .buyersShow-list li img {
  width: 100%;
  height: 210px;
  -webkit-transition: all 0.3s;
          transition: all 0.3s;
}
.hotCart-list li .cartDescribe, .buyersShow-list li .cartDescribe {
  width: 235px;
  height: 160px;
  margin: 0px auto;
}
.hotCart-list li .cartDescribe > p, .buyersShow-list li .cartDescribe > p {
  padding-top: 28px;
  margin: 0;
  font-size: 22px;
  color: #333333;
}
.hotCart-list li .cartDescribe .cartDescribe-ks, .buyersShow-list li .cartDescribe .cartDescribe-ks {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.hotCart-list li .cartDescribe .cartDescribe-ks span, .buyersShow-list li .cartDescribe .cartDescribe-ks span {
  padding-top: 26px;
  font-size: 18px;
  color: #666666;
  display: inline-block;
}
.hotCart-list li .cartDescribe > div.monthPay, .buyersShow-list li .cartDescribe > div.monthPay {
  margin-top: 17px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.hotCart-list li .cartDescribe > div.monthPay span, .buyersShow-list li .cartDescribe > div.monthPay span {
  font-size: 14px;
  color: #999999;
}
.hotCart-list li .cartDescribe > div.monthPay span:nth-of-type(1), .buyersShow-list li .cartDescribe > div.monthPay span:nth-of-type(1) {
  font-size: 18px;
  color: #ff6156;
}
.hotCart-list li .cartDescribe > div.monthPay span:nth-of-type(1) i, .buyersShow-list li .cartDescribe > div.monthPay span:nth-of-type(1) i {
  font-size: 18px;
  height: 25px;
  line-height: 25px;
}

.hotCart-list li:hover img {
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1);
}

.hotCart-list li:nth-child(4n), .buyersShow-list li:nth-child(4n) {
  margin-right: 0px;
}

.buyersShow-list li .carterInfo {
  width: 248px;
  margin: 0 auto;
}
.buyersShow-list li .carterInfo .carterName {
  padding-top: 18px;
  font-size: 18px;
  color: #333333;
}
.buyersShow-list li .carterInfo .getCartAd, .buyersShow-list li .carterInfo .getCarTime, .buyersShow-list li .carterInfo .comment {
  font-size: 14px;
  color: #666666;
}
.buyersShow-list li .carterInfo .getCartAd {
  padding-right: 95px;
}
.buyersShow-list li .carterInfo .comment {
  padding-top: 20px;
}

.buyFlow, .buyPattern {
  text-align: center;
}
.buyFlow > span, .buyPattern > span {
  font-size: 30px;
  font-weight: 500;
  display: block;
}
.buyFlow .flow, .buyPattern .flow {
  margin-top: 20px;
}
.buyFlow .flow ul li, .buyPattern .flow ul li {
  width: 295px;
  height: 257px;
  margin-right: 20px;
  float: left;
  text-align: center;
  position: relative;
}
.buyFlow .flow ul li img, .buyPattern .flow ul li img {
  width: 85px;
  height: 81px;
}
.buyFlow .flow ul li p, .buyPattern .flow ul li p {
  font-size: 18px;
  color: #666666;
}
.buyFlow .flow ul li p:nth-of-type(1), .buyPattern .flow ul li p:nth-of-type(1) {
  font-size: 22px;
  font-family: "PingFang SC";
  color: #333333;
  font-weight: bold;
  padding: 20px 0px;
}
.buyFlow .flow ul li:nth-of-type(4), .buyPattern .flow ul li:nth-of-type(4) {
  margin-right: 0px;
}
.buyFlow .flow ul li div::after, .buyPattern .flow ul li div::after {
  content: "";
  display: block;
  position: absolute;
  width: 200px;
  border: 1px solid green;
  right: -47px;
  top: 17%;
  width: 80px;
}
.buyFlow .flow ul li:nth-of-type(4) div::after, .buyPattern .flow ul li:nth-of-type(4) div::after {
  content: "";
  position: absolute;
  border: 0px solid green;
}

.buyPattern {
  background-color: white;
}

.Pattern {
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0 auto;
  margin-top: 30px;
}
.Pattern .shreeModul {
  margin: 30px 0px;
  color: white;
}
.Pattern .shreeModul > span {
  display: inline-block;
  width: 400px;
  height: 120px;
  background: #20ce9c;
  border-radius: 10px;
  margin-right: 20px;
  font-size: 26px;
  font-family: "PingFang SC";
  text-align: center;
}
.Pattern .shreeModul > span:nth-of-type(1) {
  padding-top: 25px;
}
.Pattern .shreeModul > span:nth-of-type(2) {
  line-height: 120px;
}
.Pattern .shreeModul > span:nth-of-type(3) {
  margin-right: 0px;
  padding-top: 0px;
  padding-top: 25px;
}
.Pattern .fourAdvantage {
  width: 100%;
}
.Pattern .fourAdvantage ul {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
}
.Pattern .fourAdvantage ul li {
  width: 610px;
  height: 225px;
  text-align: center;
  margin: 0 20px 20px 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: #f1fffb;
}
.Pattern .fourAdvantage ul li p:nth-of-type(1) {
  font-size: 26px;
  padding-bottom: 34px;
  font-weight: bold;
  margin: 0;
}
.Pattern .fourAdvantage ul li p:nth-of-type(2) {
  font-size: 22px;
  margin: 0;
}
.Pattern .fourAdvantage ul li:nth-of-type(2n) {
  margin: 0 0px 20px 0;
}
