.attractInvestmentInfo {
  background-color: white;
}

.attractInvestmentInfo > div {
  width: 100%;
  margin: 10px 0px;
  display: flex;
  justify-content: space-around;
}

.attractInvestmentInfo > div img {
  width: 50%;
  margin: 10px 20px;
}

.attractInvestmentInfo > div span {
  width: 50%;
  display: inline-block;
  text-align: center;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  margin: 10px 20px;
}

.attractInvestmentInfo > div span p:nth-of-type(1) {
  font-size: 22px;
  font-weight: bold;
}

.attractInvestmentInfo > div span p:nth-of-type(2) {
  font-size: 16px;
  padding-bottom: 20px;
}

.joinUs > p, .linkUs > p {
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  padding-bottom: 20px;
  position: relative;
  background-color: white;
  height: 30px;
  line-height: 30px;
}

.joinUs > p::before, .linkUs > p::before {
  content: "";
  width: 400px;
  border: 1px solid #000;
  font-family: 'Arial Normal', 'Arial';
  border-radius: 1px;
  position: absolute;
  left: 110px;
  top: 15px;
}

.joinUs > p::after, .linkUs > p::after {
  content: "";
  width: 400px;
  border: 1px solid #000;
  font-family: 'Arial Normal', 'Arial';
  border-radius: 1px;
  position: absolute;
  right: 110px;
  top: 15px;
}

.joinUs .joinUsInfo {
  margin-top: 20px;
  background-color: white;
}

.joinUsFlow {
  display: flex;
  justify-content: space-around;
}

.joinUsFlow .qualificationExamination {
  position: relative;
}

.joinUsFlow div:nth-of-type(2)::before {
  content: "";
  width: 200px;
  border: 1px dotted #000;
  font-family: 'Arial Normal', 'Arial';
  border-radius: 2px;
  position: absolute;
  left: 132px;
  top: 35px;
}

.joinUsFlow div:nth-of-type(2)::after {
  content: "";
  width: 200px;
  border: 1px dotted #000;
  font-family: 'Arial Normal', 'Arial';
  border-radius: 2px;
  position: absolute;
  right: 200px;
  top: 35px;
}

.joinUsFlow img {
  width: 60px;
  height: 60px;
  margin-bottom: 20px;
}

.joinUsFlow .freeOnApplication, .joinUsFlow .qualificationExamination, .joinUsFlow .modilFamily {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.joinUsFlow .freeOnApplication > p:nth-of-type(1), .joinUsFlow .qualificationExamination > p:nth-of-type(1), .joinUsFlow .modilFamily > p:nth-of-type(1) {
  margin-top: 20px;
  font-size: 16px;
  font-weight: bold;
}

.joinUsFlow .freeOnApplication > p:nth-of-type(2), .joinUsFlow .qualificationExamination > p:nth-of-type(2), .joinUsFlow .modilFamily > p:nth-of-type(2) {
  margin: 20px 0px;
  align-items: left;
}

.merchantInfoSubmit {
  width: 600px;
  margin: 20px auto;
  background-color: #F2F2F2;
}

.merchantInfoSubmit .SubmitForm {
  width: 380px;
  margin: 0 auto;
}

.merchantInfoSubmit .formSubmit > div {
  padding-top: 30px;
}

.merchantInfoSubmit .formSubmit > div label {
  width: 80px;
}

.merchantInfoSubmit .formSubmit > div input {
  width: 280px;
  display: inline-block;
}

.merchantInfoSubmit button {
  margin: 0 auto;
  width: 85%;
  height: 40px;
  display: block;
  margin-bottom: 20px;
}
