.left{
    float: left;
}
.right {
    float: right;
}
.activeBg {
    color: #fff;
    background: #22ac38;
    text-decoration: none;
}
.activeColor {
    color: #22ac38;
    text-decoration: none;
}
