footer{
    width: 100%;
    margin-top:140px;
    height:260px; 
    background:rgba(51,51,51,1);
    opacity:0.6;
}
.footLayout{
    color: white;
    width: 100%;
    height: 100%;
    display: flex;
    padding-top: 50px;
    justify-content: space-around;
    > div {
        width: 33.333%;
    }
    .footLogoLeft div {
        img {
            display: block;
            width: 170px;
            height: 83px;
        }
        p {
            padding-top: 31px;
            font-size:18px;
            width:240px;
            color: rgba(255,255,255,1)
        }
    }
    .footLogoCenter{
        display: flex ;
        justify-content: space-around;
        span {
            display: flex ;
            justify-content: center;
            flex-direction: column;
            align-items: center;
            img {
                width: 120px;
                height: 120px;
            }
            span {
                padding-top: 19px;
                font-size:22px;
                font-family: "PongFang SC";
            }
        }
    }
    .footLogoRight{
        h2 {
            font-size:42px;
            margin: 0;
        }
        text-align: right;
        > p{
            padding-top: 20px;
            margin: 0;
        }
        .companyLocation{
            padding-top: 43px;
        }
        .companyLocation p{
            font-family: "PongFang SC";
            font-size:18px;
            text-align: right;
            color:rgba(255,255,255,1);
            margin:0 ;
            padding-bottom: 10px;
        }
    }
}

