.cartContainer {
  width: 100%;
  background-color: white;
  font-family: "PingFang SC";
}

.topLogo {
  display: inline-block;
  width: 120px;
  height: 60px;
  text-indent: -9999px;
  margin: 0;
  padding: 0;
  background: url("../images/ytc_logo.jpg") no-repeat;
}

.top {
  position: relative;
  height: 60px;
  top: 0;
  line-height: 60px;
  background-color: white;
}

.top ul.topNav {
  height: 50px;
  margin: 0 auto;
}

.top ul.topNav li {
  float: left;
  margin-left: 64px;
  height: 50px;
  font-size: 16px;
}

.top ul.topNav li a {
  color: #666666;
  font-family: "PingFang SC";
}

.top ul.topNav li a:hover {
  text-decoration: none;
  color: green;
}

.top ul.topNav li.activeBottom {
  border-bottom: 4px solid green;
}

.top ul.topNav li.activeBottom a {
  color: green;
}
