@import "common.scss";
@import "header.scss";
@import "footer.scss";
@import "buyCart.scss";
@import "aboutUs.scss";
@import "cartDetails.scss";
@import "attractInvestment.scss";
@import "bannerSwiper.scss";

#banner {
    width: 100%;
    height: 460px;
    img {
        height: 460px;
    }
}
.carousel-indicators {
    bottom: 60px !important;
}

// 品牌，月供
.brandCart{
    position: relative;
    z-index: 3;
    margin-top: -80px;
    font-size: 14px;
    height:316px; 
    border-top: 0;
    box-shadow: 0 1px 4px 0 rgba(88,100,117,.2);
    border-radius: 6px;
    background-color: white;
    .brandListInfo{
        height: 100%;
        display: flex;
        justify-content: space-around;
        .cartList{
            display: flex ;
            justify-content: space-around;
            width:788px;
            height: 100%;
            box-sizing: border-box;
            .moreBrand{
                // border:3px solid rgba(255,97,86,1);
                width: 100%;
                height: 100%;
                margin-left: 80px;
                cursor: pointer;
                .brand{
                    height: 60px;
                    // padding: 18px 0 7px 20px;
                    line-height: 60px;
                    font-size: 18px;
                    span a {
                        color:green;
                        text-decoration: none;
                    }
                    i {
                        color:green;
                        padding-right: 80px;
                        line-height: 60px;
                    }
                }
                
                .brand span:nth-of-type(2):hover {
                    color:green;
                    i {
                        color:green;
                    }
                }
                .brand-dd {
                    padding: 32px 0px 0 0;
                    ul {
                        li {
                            border-radius: 2px;
                            float: left;
                            text-align: center;
                            text-decoration: none;
                            margin: 5px;
                            a {
                                text-decoration: none;
                                p {
                                    width: 50px;
                                    height: 40px;
                                    font-size:14px;
                                    padding: 20px 0 0 0;
                                    margin: 0;
                                }
                            }
                            img {
                                width: 50px;
                                height: 50px;
                            }
                        }
                        li:hover {
                            box-shadow:0px 0px 2px green;
                            a {
                                color : green ;                            
                            }
                            
                        }
                    }
                }
                .moneyScope {
                    padding-top: 37px;

                    ul li {
                        float: left;
                        padding-right: 32px;
                        a {
                            font-size:18px;
                            text-decoration: none;
                            color: rgba(51,51,51,1);
                        }
                        a:hover {
                            color : green ;
                        }
                    }
                }
            }
            
        }
        .zeroBuyCart{
            width: 452px;
            height: 100%;
            background:rgba(241,255,251,1);
            text-align: center;
            h4 {
                width:285px;
                font-size:26px;
                font-family:"PingFang SC";
                color:rgba(51,51,51,1);
                text-align: center;
                margin: 62px  auto;
                margin-bottom: 50px;
            }
            input {
                width: 248px;
                height: 45px;
                padding-left:10px;
                background:rgba(241,255,251,1);
                border: 1px solid #ddd;
                border-radius: 4px;
                margin: 0 auto;
            }
            button {
                width: 160px;
                height: 40px;
                font-size:18px;
                color:rgba(254,254,254,1);
                margin-top: 30px;
            }
        }
    }
    
}

.cartActive {
    color: green;
}
// 热门活动
.hotActivity{
    width: 100%;
    .activity{
        height: 740px;
        .activityList li {
            float: left;
            width: 610px;
            height: 360px;
            line-height: 360px;
            text-align: center;
            font-size:48px;
            font-family:"PingFang SC";
            // border:1px solid green;
            a {
                color: white;
                text-decoration: none;
                display: block;
                width: 100%;
                height: 100%;
            }
        }
        .activityList li:nth-of-type(1) { 
            background-color: rgba(32,206,156,1);
            margin: 0px 20px 20px 0;
        }
        .activityList li:nth-of-type(2) { 
            background-color: rgba(255,97,86,1);
            margin: 0px 0px 20px 0;
            
        }
        .activityList li:nth-of-type(3) { 
            background-color: rgba(255,165,107,1);
            margin: 0px 20px 0px 0;
            
        }
        .activityList li:nth-of-type(4) { 
            background-color: rgba(118,201,222,1)
        }
    }
}
// 热门车型  开始
.hotcar h2 , .buyersShow > p{
    text-align: center;
}
.hotcar h2 , .hotActivity h2 , .buyersShow>p ,.buyFlow > span ,.buyPattern>span , .detais-buyFlow >span{
    margin-bottom: 80px;
    margin-top:130px;
    text-align: center;
    font-size: 30px;
    display: block;
    font-family: "PingFang SC";
}
.hotcar , .hotActivity , .buyersShow , .buyFlow , .buyPattern {
    position: relative;
}
.hotcar h2::before , .hotActivity h2::before , .buyersShow>p::before ,.buyFlow > span::before ,.buyPattern>span::before , .detais-buyFlow >span::before {
    content: "";
    display: block;
    position: absolute;
    background-image: url("../images/flower.jpg");
    background-repeat: no-repeat;
    width: 35%;
    height: 20px;
    border-radius: 250px 40px 260px 60px;
}
.hotcar h2::after , .hotActivity h2::after , .buyersShow>p::after ,.buyFlow > span::after ,.buyPattern>span::after , .detais-buyFlow >span::after{
    content: "";
    display: block;
    position: absolute;
    background-image: url("../images/flower.jpg");
    background-repeat: no-repeat;
    width: 35%;
    height: 20px;
    right: 0px;
    top: 0px;
    border-radius: 250px 40px 260px 60px;
}
.hotCart-list li ,.buyersShow-list li{
    // position: relative;
    float: left;
    width: 295px;
    height: 370px;
    margin-right: 20px;
    margin-bottom: 20px;
    background-color: #fff;
    border-radius: 4px;
    overflow: hidden;
    box-shadow:0px 0px 15px gray;    
    img {
        width: 100%;
        height: 210px;
        transition: all 0.3s;
    }
    .cartDescribe{
        width: 235px;
        height: 160px;
        margin: 0px auto;
        >p {
            padding-top: 28px;
            margin: 0;
            font-size:22px;
            color:rgba(51,51,51,1);
        }
        .cartDescribe-ks {
            display: flex;
            justify-content: space-between;
        }
        .cartDescribe-ks span {
            padding-top: 26px;            
            font-size:18px;
            color:rgba(102,102,102,1);
            display: inline-block;
        }
        >div.monthPay {
            margin-top:17px;
            display: flex;
            justify-content: space-between;
            span {
                font-size:14px;
                color:rgba(153,153,153,1);
            }
        }
        >div.monthPay span:nth-of-type(1) {
            font-size:18px;
            color:rgba(255,97,86,1);
            i {
                font-size:18px;
                height: 25px;
                line-height: 25px;
            }
        }  
    }
}

.hotCart-list li:hover{
    img {
        transform: scale(1.1);  
    }
}
.hotCart-list li:nth-child(4n) , .buyersShow-list li:nth-child(4n) {
    margin-right: 0px;
}
// 车主晒单单独样式 开始

.buyersShow-list li .carterInfo {
    width: 248px;
    margin: 0 auto ;
    .carterName{
        padding-top: 18px;
        font-size:18px;
        color:rgba(51,51,51,1);
    }
    .getCartAd , .getCarTime ,.comment {
        font-size:14px;
        color:rgba(102,102,102,1);
    }
    .getCartAd {
        padding-right: 95px;
    }
    .comment{
        padding-top: 20px;
    }
}
// 车主晒单单独样式 结束


// 购车流程
.buyFlow , .buyPattern {
    text-align: center;    
    >span{
        font-size:30px;
        font-weight: 500;
        display: block;
    }
   
    .flow{
        margin-top: 20px;
    }
    .flow ul li{
        width: 295px;
        height: 257px;
        margin-right: 20px;
        float: left;
        // margin: 15px 20px;
        text-align: center;
        position: relative;
        img{
            width: 85px;
            height: 81px;
        }
        p {
            font-size:18px;
            color:rgba(102,102,102,1);
        }
        p:nth-of-type(1) {
            font-size:22px;
            font-family: "PingFang SC";
            color:rgba(51,51,51,1);
            font-weight: bold;
            padding:20px 0px;
        }
    }
    .flow ul li:nth-of-type(4) {
        margin-right: 0px;

    }
    .flow ul li div::after{
        content: "";
        display: block;
        position: absolute;
        width: 200px;
        border:1px solid green;
        right: -47px;
        top: 17%;
        width: 80px;
    }
    .flow ul li:nth-of-type(4) div::after{
        content: "";

        position: absolute;

        border:0px solid green;

    }
}

// 热门车型  结束

// 购车模式
.buyPattern{
    background-color: white;
}
.Pattern {
    width: 100%;
    display: flex ;
    justify-content: center;
    align-items: center;
    flex-direction:column;
    // background-color: rgb(184, 202, 146);
    margin: 0 auto ;
    margin-top:30px;    
    .shreeModul {
        margin: 30px 0px;
        color: white;
    }
    .shreeModul>span {
        display: inline-block;
        width:400px;
        height:120px; 
        // line-height: 120px;
        background:rgba(32,206,156,1);
        border-radius: 10px ;
        margin-right: 20px;
        font-size:26px;
        font-family:"PingFang SC";
        text-align: center;
    }
    .shreeModul>span:nth-of-type(1) {   
        padding-top: 25px;
    }
    .shreeModul>span:nth-of-type(2) {     
        line-height: 120px;
    }
    .shreeModul>span:nth-of-type(3) {
        margin-right: 0px;        
        padding-top: 0px;        
        padding-top: 25px;
    }
    .fourAdvantage {
        width: 100%;
    }
    .fourAdvantage ul {
        display: flex ; 
        justify-content: space-between;
        flex-wrap:wrap ;
        li { 
            width: 610px;
            height: 225px;
            text-align: center;
            margin: 0 20px 20px 0 ;  
            display: flex ;
            flex-direction: column;
            align-items: center;
            justify-content: center;          
            background:rgba(241,255,251,1);
            p:nth-of-type(1) {
                font-size:26px;
                padding-bottom: 34px;
                font-weight: bold;
                margin: 0;
            }
            p:nth-of-type(2) {
                font-size:22px;
                margin: 0;                
                // padding-bottom: 34px;
                // font-weight: bold;
            }
         }
  
         li:nth-of-type(2n){
            margin: 0 0px 20px 0 ;
         }
    }
}